@page
@model IndexModel
@{
    ViewData["Title"] = "Frontend Assigment";
}

<table>
    @foreach (var product in Model.Products)
    {

    <tr>
        <td><img src="@product.Image" width="40" /></td>
        <td>@product.Name</td>
        <td>@product.FromPrice</td>
    </tr>

    }
</table>